/* Paleta de cores
.color1 {color: #1c1630;}
.color2 {color: #553159;}
.color3 {color: #4d7fa4;}
.color4 {color: #55a09e;}
.color5 {color: #dcefef;}
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  background-color: #dcefef;
}

.container__logo {
  background-color: #553159;
  margin: 0 auto;
  text-align: center;
}

section {
  width: 700px;
  margin: 0 auto;
}

.menu__nav {
  width: 100vw;
  background-color: #55a09e;
  text-align: start;
}

.menu__nav a {
  color:#dcefef;
  margin: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.titulo__principal {
  color: #1c1630;
  text-align: center;
  font-weight: 900;
}

.titulo__secundario {
  font-weight: 700;
  color: #1c1630;
  text-decoration: underline;
}

.lista__elementos {
  list-style: square;
  color: #553159;
}

.lista__elementos h3 {
  color: #4d7fa4;
}


.lista__elementos .paragrafo {
  font-weight: 300;
  color:#553159;
  text-align: justify;
}

main {
  background-color: #dcefef;
}

.rodape span {
  display: block;
  text-align: center;
  font-size: small;
  color: #1c1630;
}

.rodape a {
  color:#553159;
  text-decoration: none;
}