* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #713f61;
  min-height: 100px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 40px;
}

.menu__nav ul {
  display: flex;
  gap: 40px;

}

.menu__nav li > a {
  color: #FFF;
  font-size: 18px;
}

/* Main Section */

.main__section {
  background-color: #EDEAEA;
  padding: 20px;
  height: 577px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__section img {
  width: 150px;
  height: 150px;
}

.profile__box{
  text-align: center;
  max-width: 490px;
}


/* Formação */

section#background {
  padding: 20px;
}

.section__title {
  margin-left: 40px;
  color: #f382a5;
  font-size: 24px;
  font-weight: 700;
}

.background__list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background__items {
  padding: 17px 20px;
  max-width: 750px;
}

.background__name {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #af597f;
}

.background__items p {
  text-align: justify;
}

/* Footer */

.footer {
  background-color:#713f61;
  padding: 20px 30px;
  color: #FFF;
}

.footer li {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer li > a {
  color: #FFF;
}

.footer small {
  display: block;
  margin-top: 15px;
  text-align: center;
}

.footer small a {
  color: #f8b1c1
}


/* Paleta de Cores */
/* .color1 {color: #4c2f4c;}
.color2 {color: #713f61;}
.color3 {color: #af597f;}
.color4 {color: #f382a5;}
.color5 {color: #f8b1c1;} */