* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

/* body {
  max-width: 1440px;
  margin: 0 auto;
} */

.header {
  background-color: #7C71FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 100px; */
  padding: 34px 30px 24px;
}

.user__info {
  color: #FFF;
}

.name {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
}

.user__info small {
  font-size: 14px;
  font-weight: 400;
}

.header__menu ul {
  display:flex;
  gap: 20px;
}

.header__menu li {
  list-style: none;
  padding: 8px 14px;
  border-radius: 25px;
  background-color: #D9D9D9;
  font-size: 16px;
}

.header__menu li:hover {
  background-color: #200065;
}

.header__menu li a {
  color: #200065;
}
.header__menu li:hover a {
  color: #D9D9D9;
}

.header__menu .initial__item {
  background-color: #200065;
}

.header__menu .initial__item a {
  color: #D9D9D9;
  display: flex;
  gap: 10px;
  align-items: center;
}

section#main__section {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #D7E2FF;
  padding: 29px 20px 35px; 
}

.title__container {
  color: #200065;
  text-align: center;
}

.title__container h1 {
  font-family: "Abril Fatface";
  font-size: 40px;
  font-weight: 400;
}

.title__container h2 {
  font-size: 36px;
  font-weight: 400;
}

.images__container {
  margin: 27px auto 35px;
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
}

.images__container li {
  list-style: none;
  width: 284px;
  height: 284px;
  text-align: center;
  overflow: hidden;
  box-shadow: rgba(4, 69, 125, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.images__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all .6s ease-in-out;
}

.images__container li:hover img{
  transform: scale(1.2);
}

.button__container a {
  color: #0075FF;
  font-size: 18px;
  text-decoration: underline;
}

.button__container:hover a {
  color: #200065;

}

section#clients {
  background-color: #AEBFEB;
  padding: 37px 20px 75px;
}

.section__title {
  color: #200065;
  font-family: "Abril Fatface";
  font-size: 32px;
  text-align: center;
  margin-bottom: 35px;
}

.clients__reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 26px;
}

.card__review {
  min-height: 427px;
  max-width: 427px;
  background-color: #D4E0FF;
  padding: 38px 26px 38px 45px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.5s ease;
}

.card__review:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.card__top {
  display: flex;
  gap: 20px;
  align-items: center;
}

.card__review h4 {
  font-family: "Abril Fatface";
  font-size: 32px;
  color: #1E1E1E;
  width: 10rch;
}

.card__review i {
  font-size: 18px;
  color: #200065;
}

.card__review img {
  padding: 2px;
  border: solid 2px #7C71FF;
  border-radius: 50%;
  height: 98px;
  width: 98px;
}

.card__review p {
  text-align: justify;
  margin-top: 70px;
}

/* Orders */
section#orders {
  background-color: #D7E2FF;
  padding: 38px 20px;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

th, td {
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
  border: 1px solid #000;
  min-width: 250px;
}
thead{
  background-color: #7C71FF;
}

/* Orders - Responsive */

@media (max-width:1024px) {
  th, td {
    min-width: 100px;
  }
}

@media (max-width:640px) {
  th, td {
    min-width: 25px;
  }
}

/* Contact Us */

section#contactUs {
  background-color: #AEBFEB;
  padding: 29px 20px 35px; 
}

.form__container {
  margin: 0 auto;
  max-width: 1141px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.form__container div {
  display: flex;
  flex-direction: column;
}

.form__container label {
  font-size: 14px;
  line-height: 28px;
  margin-left: 3px;
}

.form__container input, .form__container textarea {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #AAAAAD;
}

.form__btn {
  display: flex;
  align-items: center;
}

.form__btn button {
  padding: 10px 15px;
  background-color: #313131;
  border: 1px solid #313131;
  border-radius: 10px;
  font-size: 22px;
  color: #FFF;
  min-width: 270px;
}

.form__btn button:hover {
  cursor: pointer;
  background-color: #200065;
  border: 1px solid #200065;
}

/* Footer */

.footer {
  padding: 20px;
  background-color: #3F3F3F;
  color: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer a {
  color: #0075FF;
}